@page "/"
@inject NavigationManager uriHelper;
@inject NavigationManager navigationManager;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>@displayText</p>
<input @bind="inputText" @oninput="OnInputChanged" />
<button @onclick="ShowText">Click Me</button>

Welcome to your new app.

<div class="mt-4">
    <a class="btn btn-primary m-2" href="/queue" target="_blank">Go to Queue</a>
    <a class="btn btn-primary m-2" href="/queuemoph" target="_blank">Go to Queue MOPH</a>
</div>

@code {
    private string inputText = string.Empty;
    private string displayText = "";
    private Timer? typingTimer;

    // Timer delay time in milliseconds
    private const int delayMilliseconds = 5000; // 5 seconds delay

    // This method is called whenever the user types in the input field
    private void OnInputChanged(ChangeEventArgs e)
    {
        // Clear any existing timer to reset the delay
        typingTimer?.Dispose();

        // Start a new timer for the next 5 seconds
        typingTimer = new Timer(new TimerCallback((state) =>
        {
            // Refresh the page after the delay
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }), null, delayMilliseconds, Timeout.Infinite);
    }

    private void ShowText()
    {
        displayText = "Hello, Blazor!";
        var timer = new Timer(new TimerCallback(_ =>
            {
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true); // Full page reload
            }), null, 5000, 5000); // Timer with a 5-second delay
    }



}